[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[alias]
	a = add
	aa = add -A
	ap = add -p
	b = branch
	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	co = checkout
	cob = checkout -b
	cl = clone —-recursive
	clr = clone —-recursive
	d = diff
	ds = diff --staged
	fo = fetch origin
	fu = fetch upstream
	l = log
	lo = log --oneline
	last = log -1 HEAD
	m = merge
	ma = merge --abort
	p = push origin
	pl = pull origin master
	plm = pull origin main
	plu = pull upstream master
	plr = pull --rebase origin master
	plrm = pull --rebase origin main
	plru = pull --rebase upstream master
	plrum = pull --rebase upstream main
	pm = push origin master
	pmm = push origin main
	r = rebase
	rmao = remote add origin
	rmau = remote add upstream
	rmro = remote remove origin
	rmru = remote remove upstream
	ri = rebase -i
	rir = rebase -i --root
	rim = rebase -i master
	rimm = rebase -i main
	riom = rebase -i origin/master
	riomm = rebase -i origin/main
	rium = rebase -i upstream/master
	riumm = rebase -i upstream/main
	rm = rebase master
	rom = rebase origin/master
	romm = rebase origin/main
	rum = rebase upstream/master
	rumm = rebase upstream/main
	rc = rebase --continue
	ra = rebase --abort
	rs = reset
	st = status
	s = stash
	sp = stash pop
	u = reset HEAD --
[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Niels Gerritsen
[includeIf "gitdir:dev/booking/"]
  path = ~/dev/booking/.gitconfig
[includeIf "gitdir:dev/ngerritsen/"]
  path = ~/dev/ngerritsen/.gitconfig
